html {
  box-sizing: border-box;
}

body {
  background: skyblue;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* content container */
.container {
  background: white;
  margin: 0 auto;
  max-width: 960px;
  min-height: 100vh;
}


/* menu */
nav {
  display: flex;
  flex-wrap: wrap;
}

nav > div {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  min-width: 350px;
  padding: 0 20px;
}

.buttons {
  flex-wrap: wrap;
}

.buttons button {
  flex: 1 1 auto;
  min-width: 200px;
}

nav div h1 {
  margin-right: 20px;
}


/* sections */
section {
  padding: 0 20px;
}


/* todo list */
li p a {
  font-variant: small-caps;
}


/* Hidden Elements */
.hidden {
  height: 0;
  overflow: hidden;
}
